.day-picker-layout {
    display: flex;
    width: 577px;
    height: 352px;
}

.left-layout {
    margin: 0;
    width: 104px;
    padding: 8px;

    border-right: 1px solid var(--main-border-color);
}

.right-layout {
    width: 457px;
}

.picker-body {
    height: 309px;
    border-bottom: 1px solid var(--main-border-color);
    display: flex;
}

.picker-footer {
    height: 42px;
}

.day-picker-content-layout {
    width: 288px;
    border-right: 1px solid var(--main-border-color);
}

.time-picker-content-layout {
    width: 168px;
}