.active-bar {
    position: absolute;
    height: 1px;
    background: var(--main-color);
    bottom: 0;
    left: 11px;

    transition: all ease-out 0.2s;
}

.active-bar.hide {
    visibility: hidden;
}