.quick-selector-list {
    margin: 0;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

.quick-selector-list > li {
    display: flex;
    align-items: center;

    padding: 1px 8px;
    margin-top: 8px;
    border-radius: 5px;

    cursor: pointer;
    user-select: none;

    transition: all ease var(--animation-duration-normal);
}

.quick-selector-list > li:first-child {
    margin-top: 0;
}

.quick-selector-list > li:hover {
    background: var(--main-background-hover-color);
}