:root {
    --jay-red-50: #ffeaea;
    --jay-red-100: #fee2e2;
    --jay-red-200: #fedada;
    --jay-red-300: #fed2d2;
    --jay-red-400: #fec9c9;
    --jay-red-500: #fec1c1;
    --jay-red-600: #feb9b9;
    --jay-red-700: #feb1b1;
    --jay-red-800: #ffa9a9;
    --jay-red-900: #ffa1a1;
    --jay-red-950: #ff9999;
    --jay-red-1000: #ff9090;
    --jay-red-1050: #ff8888;
    --jay-red-1100: #ff8080;
    --jay-red-1150: #ff7878;
    --jay-red-1200: #ff7070;
    --jay-red-1250: #ff6868;
    --jay-red-1300: #ff5f5f;
    --jay-red-1350: #ff5757;
    --jay-red-1400: #ff4f4f;
    --jay-red-1450: #ff4747;
    --jay-red-1500: #ff3f3f;
    --jay-red-1550: #ff3737;
    --jay-red-1600: #ff2e2e;
    --jay-red-1650: #ff2626;
    --jay-red-1700: #ff1e1e;
    --jay-red-1750: #ff1616;
    --jay-red-1800: #ff0e0e;
    --jay-red-1850: #ff0606;
    --jay-red-1900: #fc0000;
    --jay-red-1950: #f40000;
    --jay-red-2000: #ec0000;

    --jay-green-50: #eaffea;
    --jay-green-100: #e2fee2;
    --jay-green-200: #dafeda;
    --jay-green-300: #d2fed2;
    --jay-green-400: #c9fec9;
    --jay-green-500: #c1fec1;
    --jay-green-600: #b9feb9;
    --jay-green-700: #b1feb1;
    --jay-green-800: #a9ffa9;
    --jay-green-900: #a1ffa1;
    --jay-green-950: #9ff99f;
    --jay-green-1000: #90ff90;
    --jay-green-1050: #8ff88f;
    --jay-green-1100: #80ff80;
    --jay-green-1150: #78ff78;
    --jay-green-1200: #70ff70;
    --jay-green-1250: #68ff68;
    --jay-green-1300: #5fff5f;
    --jay-green-1350: #57ff57;
    --jay-green-1400: #4fff4f;
    --jay-green-1450: #47ff47;
    --jay-green-1500: #3fff3f;
    --jay-green-1550: #37ff37;
    --jay-green-1600: #2eff2e;
    --jay-green-1650: #26ff26;
    --jay-green-1700: #1eff1e;
    --jay-green-1750: #16ff16;
    --jay-green-1800: #0eff0e;
    --jay-green-1850: #06ff06;
    --jay-green-1900: #00fc00;
    --jay-green-1950: #00f400;
    --jay-green-2000: #00ec00;

    --jay-blue-50: #eaeaff;
    --jay-blue-100: #e2e2fe;
    --jay-blue-200: #dadafe;
    --jay-blue-300: #d2d2fe;
    --jay-blue-400: #c9c9fe;
    --jay-blue-500: #c1c1fe;
    --jay-blue-600: #b9b9fe;
    --jay-blue-700: #b1b1fe;
    --jay-blue-800: #a9a9ff;
    --jay-blue-900: #a1a1ff;
    --jay-blue-950: #9999ff;
    --jay-blue-1000: #9090ff;
    --jay-blue-1050: #8888ff;
    --jay-blue-1100: #8080ff;
    --jay-blue-1150: #7878ff;
    --jay-blue-1200: #7070ff;
    --jay-blue-1250: #6868ff;
    --jay-blue-1300: #5f5fff;
    --jay-blue-1350: #5757ff;
    --jay-blue-1400: #4f4fff;
    --jay-blue-1450: #4747ff;
    --jay-blue-1500: #3f3fff;
    --jay-blue-1550: #3737ff;
    --jay-blue-1600: #2e2eff;
    --jay-blue-1650: #2626ff;
    --jay-blue-1700: #1e1eff;
    --jay-blue-1750: #1616ff;
    --jay-blue-1800: #0e0eff;
    --jay-blue-1850: #0606ff;
    --jay-blue-1900: #0000fc;
    --jay-blue-1950: #0000f4;
    --jay-blue-2000: #0000ec;

    --jay-yellow-50: #ffffea;
    --jay-yellow-100: #fefee2;
    --jay-yellow-200: #fefeda;
    --jay-yellow-300: #fefed2;
    --jay-yellow-400: #fefec9;
    --jay-yellow-500: #fefec1;
    --jay-yellow-600: #fefeb9;
    --jay-yellow-700: #fefeb1;
    --jay-yellow-800: #ffffa9;
    --jay-yellow-900: #ffffa1;
    --jay-yellow-950: #feff99;
    --jay-yellow-1000: #ffff90;
    --jay-yellow-1050: #feff88;
    --jay-yellow-1100: #feff80;
    --jay-yellow-1150: #feff78;
    --jay-yellow-1200: #feff70;
    --jay-yellow-1250: #feff68;
    --jay-yellow-1300: #feff5f;
    --jay-yellow-1350: #feff57;
    --jay-yellow-1400: #feff4f;
    --jay-yellow-1450: #feff47;
    --jay-yellow-1500: #feff3f;
    --jay-yellow-1550: #feff37;
    --jay-yellow-1600: #feff2e;
    --jay-yellow-1650: #feff26;
    --jay-yellow-1700: #feff1e;
    --jay-yellow-1750: #feff16;
    --jay-yellow-1800: #feff0e;
    --jay-yellow-1850: #feff06;
    --jay-yellow-1900: #fcfc00;
    --jay-yellow-1950: #f9f900;
    --jay-yellow-2000: #f6f600;

    --jay-gray-50: #f4f4f4;
    --jay-gray-100: #f0f0f0;
    --jay-gray-200: #ececec;
    --jay-gray-300: #e8e8e8;
    --jay-gray-400: #e4e4e4;
    --jay-gray-500: #e0e0e0;
    --jay-gray-600: #dcdcdc;
    --jay-gray-700: #d8d8d8;
    --jay-gray-800: #d4d4d4;
    --jay-gray-900: #d0d0d0;
    --jay-gray-950: #cccccc;
    --jay-gray-1000: #c7c7c7;
    --jay-gray-1050: #c3c3c3;
    --jay-gray-1100: #bfbfbf;
    --jay-gray-1150: #bbbbbb;
    --jay-gray-1200: #b7b7b7;
    --jay-gray-1250: #b3b3b3;
    --jay-gray-1300: #afafaf;
    --jay-gray-1350: #ababab;
    --jay-gray-1400: #a7a7a7;
    --jay-gray-1450: #a3a3a3;
    --jay-gray-1500: #9f9f9f;
    --jay-gray-1550: #9b9b9b;
    --jay-gray-1600: #969696;
    --jay-gray-1650: #929292;
    --jay-gray-1700: #8e8e8e;
    --jay-gray-1750: #8a8a8a;
    --jay-gray-1800: #868686;
    --jay-gray-1850: #828282;
    --jay-gray-1900: #7e7e7e;
    --jay-gray-1950: #7a7a7a;
    --jay-gray-2000: #767676;
    
    --jay-white: #FFFFFF;
    --jay-black: #000000;
}

.--test-style {
}