.header-layout {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 272px;
    height: 40px;
    padding: 0 8px;
}

.header-title-layout {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 182.41px;
    height: 40px;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;

    cursor: pointer;
    user-select: none;

    transition: all ease var(--animation-duration-normal);
}

.header-title:hover {
    color: var(--main-color);
}

.arrow-svg {
    width: 22.4px;
    height: 40px;
    stroke: var(--main-text-color);
    fill: var(--main-background-color);
    cursor: pointer;
    transition: stroke ease var(--animation-duration-normal);
}

.arrow-svg:hover {
    stroke: var(--main-black-color);
}

.arrow-svg:active {
    transform: scale(0.9);
}