@import "@jay-react-component/stylesheet";

.calendar-layout {
    width: 300px;
    height: 300px;
    background-color: var(--main-background-color);
    border-radius: 6px;
    box-shadow: 0 0 50px var(--jay-gray-500);
}

.calendar-layout::before {
    position: absolute;
    content: "before";
    width: 10px;
    height: 10px;
    background-color: red;
    transition: transform ease 0.1s;
}

.calendar-layout.left::before {
    color: red;
}

.calendar-layout.right::before {
    color: yellow;
    transform: translateX(50%);
}