@import "@jay-react-component/stylesheet";

:root {
    --main-color: var(--jay-blue-1900);
    --main-border-color: var(--jay-gray-500);
    --main-text-color: var(--jay-gray-500);
    --main-background-color: var(--jay-white);
}

.date-picker-layout {
    position: relative;
    padding: 4px 11px;
    background: var(--main-background-color);
    border: 1px var(--main-border-color) solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease border 0.2s;
}

.date-picker-layout:hover {
    border: 1px var(--main-color) solid;
    transition: ease border 0.2s;
}

.picker-focus {
    border: 1px var(--main-color) solid;
}

.date-picker-layout > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-picker-layout > div > input {
    border: none;
    outline: none;
}

.date-picker-layout > div > input::placeholder {
    color: var(--main-text-color);
}

.arrow-svg-wrapper {
    width: 32px;
}

.date-picker-arrow-svg {
    width: 16px;
    height: 16px;
    padding: 0 8px;
    stroke: var(--main-text-color);
    fill: var(--main-text-color);
}

.date-picker-calendar-svg {
    width: 16px;
    height: 16px;
    stroke: var(--main-text-color);
    fill: var(--main-background-color);
}
